:root {
  --primary-0: #4CAD9A;
  --primary-1: #61CFB9;
  --primary-2: #7FE9D4;
  --primary-3: #AAF2E3;
  --primary-4: #CEF2EB;

  --secondary-0: #B5B53F;
  --secondary-1: #CFCF4A;
  --secondary-2: #E5E566;
  --secondary-3: #EDED98;
  --secondary-4: #F5F5B5;

  --gray-0: #242626;
  --gray-1: #545958;
  --gray-2: #79807E;
  --gray-3: #C6CCCB;
  --gray-4: #EBF2F1;

  --secondary-0-op: #b5b53f50;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url('../fonts/OpenSans-SemiBold.ttf');
}
*{
  font-family: 'OpenSans-Regular';
}
body {
  
}